@font-face {
  font-family: allura;
  src: url(./assets/fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: poppins;
  src: url(./assets/fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: roboto;
  src: url(./assets/fonts/Roboto-Light.ttf);
}
$jaune: rgb(166, 114, 69);
$blanc: rgb(238, 238, 238);
@import "./assets/layout/header";
@import "./assets/layout/section1";
@import "./assets/layout/section2";
@import "./assets/layout/section3";
@import "./assets/layout/section4";
@import "./assets/layout/section5";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
body {
  text-align: center;
  background: rgb(33, 32, 30);
  img {
    width: 100%;
  }
  #icplate,
  #icplatebig {
    width: 40px;
  }
}
h2 {
  font-family: "Allura", cursive;
}
h3 {
  font-family: "Poppins", sans-serif;
}
h4,
h5 {
  font-family: "Roboto", sans-serif;
}
p {
  font-family: "Roboto", sans-serif;
}
