.time-reservation {
  width: 70%;
  margin: 100px auto;
  display: grid;
  grid-template-columns: 30% 70%;
  @media screen and (max-width: 1400px) {
    width: 90%;
  }
  @media screen and (max-width: 1000px) {
    grid-template-columns: 50% 50%;
  }
  @media screen and (max-width: 600px) {
    display: block;
  }
}
.time-reservation-left {
  background: black;
  display: flex;
  align-items: center;
}
.timeopen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 95%;
  margin: 0 auto;
  border: 2px rgb(238, 238, 238) dashed;
  h2 {
    color: $jaune;
    text-transform: capitalize;
    font-size: 3rem;
    font-weight: 100;
  }
  h3 {
    color: rgb(238, 238, 238);
    font-size: 2rem;
    font-weight: 100;
  }
  h4 {
    color: $jaune;
    text-transform: uppercase;
    font-size: 1.5rem;
    margin: 50px 0 10px 0;
    @media screen and (max-width: 600px) {
      font-size: 1rem;
    }
  }
  @media screen and (max-width: 600px) {
    margin: 25px auto;
  }
}
.to {
  margin: 30px;
  line-height: 30px;
}
.phar {
  color: rgb(238, 238, 238);
  font-size: 1.3rem;
  @media screen and (max-width: 600px) {
    font-size: 0.8rem;
  }
}

.time-reservation-right {
  background: rgb(238, 238, 238);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.reservation {
  line-height: 40px;
  margin-top: 100px;
  h2 {
    color: $jaune;
    font-weight: 100;
    font-size: 3.5rem;
    text-transform: capitalize;
  }
  h3 {
    text-transform: uppercase;
    font-size: 2.6rem;
    margin-bottom: 50px;
  }
  img {
    margin-bottom: 50px;
  }
}

form {
  width: 80%;
  margin: 0 auto;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "pe da ho"
    "na ph em"
    "bu bu bu";
  select,
  input {
    font-size: 1.2rem;
    border: none;
    width: 80%;
    height: 50px;
    margin-bottom: 25px;
    border-bottom: rgb(179, 179, 179) 3px solid;
    background: transparent;
  }
  @media screen and (max-width: 600px) {
    display: block;
  }
}
button {
  grid-area: bu;
  background: rgb(33, 32, 30);
  color: rgb(238, 238, 238);
  padding: 20px 50px;
  border-radius: 200px;
  letter-spacing: 3px;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 100px;
}
